<?xml version="1.0" encoding="utf-8" standalone="no"?>
<WSAD xmlns="urn:schemas-progress-com:WSAD:0003" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <AppObject>
    <PGVersion>
      <PXGVersion>03</PXGVersion>
    </PGVersion>
    <PGGenInfo isSessionFree="false">
      <Author />
      <VersionString />
      <VersionNumber>1</VersionNumber>
      <Package />
      <Service>Test</Service>
      <WorkDir>build-pxg1\</WorkDir>
      <VerboseLogging>true</VerboseLogging>
      <SaveBeforeGen>true</SaveBeforeGen>
      <DotNetClient>false</DotNetClient>
      <JavaClient>true</JavaClient>
      <WebServicesClient>false</WebServicesClient>
      <UserDefinedAppService>true</UserDefinedAppService>
      <JavaCompilerType>3</JavaCompilerType>
      <JavaCompiler>javac</JavaCompiler>
      <JavaSwitches />
      <JavaClasspathSwitch>-classpath</JavaClasspathSwitch>
      <JavaClasspath>&lt;Proxy Dir&gt;;&lt;Install Dir&gt;\java\progress.jar;&lt;Install Dir&gt;\java\messages.jar;&lt;Install Dir&gt;\java\prowin.jar;&lt;Default classes.zip&gt;</JavaClasspath>
      <DotNetCompilerType>4</DotNetCompilerType>
      <DotNetCompiler>csc</DotNetCompiler>
      <DotNetSwitches />
      <DotNetXSDGenerator>xsd</DotNetXSDGenerator>
      <DotNetNamespace />
      <DotNetTitle />
      <DotNetVersion />
      <DotNetDesc />
      <DotNetCompany />
      <DotNetProduct />
      <DotNetPublicKey />
      <DotNetDelaySign>false</DotNetDelaySign>
    </PGGenInfo>
    <DeploymentWizard>
      <CurrentEncoding>1</CurrentEncoding>
      <SoapEndpointURL />
      <WebServiceNamespace userDefined="true">urn:tempuri-org</WebServiceNamespace>
      <SoapAction appendToSoapAction="false" />
      <TestWSDL RPCEncoded="true" RPCLiteral="false" DocLiteral="false" />
    </DeploymentWizard>
    <Name>Test</Name>
    <ProPath>build\</ProPath>
    <HelpString />
    <ODLHelpString />
    <ObjectType>false</ObjectType>
    <AllowUnknown>false</AllowUnknown>
    <Procedure isPersistent="false" useFullName="false">
      <Name>test</Name>
      <ProcPath></ProcPath>
      <ProPath>build\</ProPath>
    </Procedure>
  </AppObject>
</WSAD>