%% Properties File
%% version 80d19
%% Jul 28, 2005 1:34:44 PM

[Adapter]
    appserviceNameList=
    autoStart=0
    brkrLogAppend=1
    brkrLogEntries=0
    brkrLoggingLevel=2
    brkrLogThreshold=0
    brokerLogFile=$WRKDIR/broker.log
    classMain=com.progress.ubroker.broker.ubroker
    controllingNameServer=
    description=
    environment=
    groupName=
    hostName=
    infoVersion=9010
    initialAdptrThreads=20
    jvmArgs=$JVMARGS
    maxAdptrThreads=30
    maxClientInstance=512
    minAdptrThreads=10
    password=
    portNumber=3620
    registerNameServer=1
    registrationMode=Register-IP
    registrationRetry=30
    srvrLogAppend=1
    srvrLogEntries=0
    srvrLogFile=$WRKDIR/server.log
    srvrLoggingLevel=2
    srvrLogThreshold=0
    srvrStartupParam=
    userName=
    uuid=
    workDir=$WRKDIR

[AdminRole]
    apps_defaults=
    apps_enable=
    apps_props=
    apps_stats=
    servlet_props=
    servlet_services=read
    servlet_stats=

[AdminRole.PSCAdmin]
    apps_defaults=read,write
    apps_enable=read,write
    apps_props=read,write
    apps_stats=read,write
    servlet_props=read,write
    servlet_services=read,write,delete
    servlet_stats=read,write

[AdminRole.PSCOper]
    apps_defaults=read
    apps_enable=read
    apps_props=read
    apps_stats=read
    servlet_props=read
    servlet_services=read
    servlet_stats=read

[AIA]
    adminIPList=
    allowAiaCmds=0
    controllingNameServer=NS1
    Host=localhost
    httpsEnabled=1
    idleConnectionTimeout=3600
    logAppend=0
    logEntries=0
    logFile=$WRKDIR/aia.log
    loggingLevel=2
    logThreshold=0
    maxNSClientPort=0
    minNSClientPort=0
    nsClientPortRetry=4
    nsClientPortRetryInterval=250
    Port=3090
    registerNameServer=1
    securePort=443
    soReadTimeout=240

[Environment]

[Environment.asbroker1]
    TESTENV=MYENV

[Environment.mssbroker1]
    ODBC_HOME=/usr/mssnt

[Environment.NS1]
    MYENV=MYVAR

[Environment.odbbroker1]
    ODBC_HOME=/usr/odbunx

[Environment.wsbroker1]
    TESTENV=MYENV

[NameServer]
    autoStart=0
    brokerKeepAliveTimeout=30
    classMain=com.progress.nameserver.NameServer
    collectStatsData=0
    environment=
    hostName=localhost
    infoVersion=9010
    jvmArgs=$JVMARGS
    location=local
    logAppend=1
    logEntries=0
    loggingLevel=2
    logThreshold=0
    neighborNameServers=
    portNumber=5162
    srvrLogFile=$WRKDIR/ns.log
    workDir=$WRKDIR

[NameServer.NS1]
    autoStart=1
    environment=NS1
    srvrLogFile=$WRKDIR/NS1.ns.log

[NewNameTemplate]
    NewName=

[ParentGroup]
    AppServer=UBroker.AS
    AppServer Internet Adapter=AIA
    Messengers=WebSpeed.Messengers
    MSS DataServer=UBroker.MS
    NameServer=NameServer
    ODBC DataServer=UBroker.OD
    Oracle DataServer=UBroker.OR
    SonicMQ Adapter=Adapter
    Web Services Adapter=WSA
    WebSpeed=UBroker.WS

[PreferenceRoot]
    admSrvrRegisteredRetry=6
    admSrvrRegisteredRetryInterval=3000
    toolConnectSvcRetry=10
    toolConnectSvcRetryInterval=3000
    toolGetSvcStatusRetry=10
    toolPingSvcRetry=2
    toolShutdownSvcConfirmRetry=10
    toolShutdownSvcConfirmRetryInterval=1000

[PreferenceRoot.Preference]

[UBroker]
    appserviceNameList=
    autoStart=0
    autoTrimTimeout=1800
    brkrLogAppend=1
    brkrLogEntries=0
    brkrLoggingLevel=2
    brkrLogThreshold=0
    brokerLogFile=$WRKDIR/broker.log
    collectStatsData=0
    connectingTimeout=60
    controllingNameServer=
    defaultService=0
    description=
    environment=
    flushStatsData=255
    groupName=
    hostName=
    infoVersion=9010
    initialSrvrInstance=5
    jvmArgs=$JVMARGS
    maxClientInstance=512
    maxSrvrInstance=10
    minSrvrInstance=1
    password=
    priorityWeight=0
    PROPATH=${PROPATH}:${WRKDIR}
    registerNameServer=1
    registrationMode=Register-IP
    registrationRetry=30
    requestTimeout=15
    srvrLogAppend=1
    srvrLogEntries=0
    srvrLogFile=$WRKDIR/server.log
    srvrLoggingLevel=2
    srvrLogThreshold=0
    srvrMaxPort=3502
    srvrMinPort=3202
    srvrStartupTimeout=3
    userName=
    uuid=
    workDir=$WRKDIR

[UBroker.AS]
    4glSrcCompile=0
    classMain=com.progress.ubroker.broker.ubroker
    debuggerEnabled=0
    defaultService=0
    description=AppServer Broker
    operatingMode=State-reset
    portNumber=3090
    srvrActivateProc=
    srvrConnectProc=
    srvrDeactivateProc=
    srvrDisconnProc=
    srvrExecFile=$DLC/bin/_proapsv
    srvrMaxPort=2202
    srvrMinPort=2002
    srvrShutdownProc=
    srvrStartupParam=
    srvrStartupProc=
    srvrStartupProcParam=

[UBroker.MS]
    brkrLoggingLevel=3
    classMain=com.progress.ubroker.broker.ubroker
    defaultService=0
    description=MSS DataServer Broker
    initialSrvrInstance=0
    maxSrvrInstance=256
    minSrvrInstance=0
    operatingMode=State-aware
    portNumber=4446
    srvrExecFile="@{Startup\DLC}\bin\_msssrv.exe"
    srvrStartupParam=-svub -S X -N TCP -U X -P X -hs 0 -s 40

[UBroker.MS.mssbroker1]
    appserviceNameList=mssbroker1
    brokerLogFile=@{WorkPath}\mssbroker1.broker.log
    controllingNameServer=NS1
    defaultService=1
    description=A sample MSS DataServer Broker
    environment=mssbroker1
    portNumber=4446
    srvrExecFile="@{Startup\DLC}\bin\_msssrv.exe"
    srvrLogFile=@{WorkPath}\mssbroker1.server.log
    srvrStartupParam=-svub -S X -N TCP -U X -P X -hs 0 -s 40
    uuid=172.18.103.53:32:e031b1e7bc:-7d29

[UBroker.OD]
    brkrLoggingLevel=3
    classMain=com.progress.ubroker.broker.ubroker
    defaultService=0
    description=ODBC DataServer Broker
    initialSrvrInstance=0
    maxSrvrInstance=256
    minSrvrInstance=0
    operatingMode=State-aware
    portNumber=4444
    srvrExecFile=$DLC/bin/_odbsrv
    srvrStartupParam=-svub -S X -N TCP -U X -P X -hs 0 -s 40

[UBroker.OD.odbbroker1]
    appserviceNameList=odbbroker1
    brokerLogFile=$WRKDIR/odbbroker1.broker.log
    controllingNameServer=NS1
    defaultService=1
    description=A sample ODBC DataServer Broker
    environment=odbbroker1
    portNumber=4444
    srvrExecFile=$DLC/bin/_odbsrv
    srvrLogFile=$WRKDIR/odbbroker1.server.log
    srvrStartupParam=-svub -S X -N TCP -U X -P X -hs 0 -s 40
    uuid=172.18.103.53:1f415c:d6330e5d24:-7f1e


[UBroker.OR]
    brkrLoggingLevel=3
    classMain=com.progress.ubroker.broker.ubroker
    defaultService=0
    description=Oracle DataServer Broker
    initialSrvrInstance=0
    maxSrvrInstance=256
    minSrvrInstance=0
    operatingMode=State-aware
    portNumber=4445
    srvrExecFile=$DLC/bin/_ora7srv
    srvrStartupParam=-svub -S X -N TCP -U X -P X -hs 0 -s 40

[UBroker.OR.orabroker1]
    appserviceNameList=orabroker1
    brokerLogFile=$WRKDIR/orabroker1.broker.log
    controllingNameServer=NS1
    defaultService=1
    description=A sample Oracle DataServer Broker
    environment=orabroker1
    portNumber=4445
    srvrExecFile=$DLC/bin/_orasrv
    srvrLogFile=$WRKDIR/orabroker1.server.log
    srvrStartupParam=-svub -S X -N TCP -U X -P X -hs 0 -s 40
    uuid=172.18.103.53:1f415c:d6330e5d24:-7f4d

[UBroker.WS]
    4glSrcCompile=0
    applicationURL=
    classMain=com.progress.ubroker.broker.ubroker
    defaultCookieDomain=
    defaultCookiePath=
    defaultService=0
    description=WebSpeed Broker
    fileUploadDirectory=
    operatingMode=Stateless
    portNumber=3055
    srvrAppMode=Development
    srvrDebug=Enabled
    srvrExecFile=$DLC/bin/jvmStart $DLC/bin/_progres
    srvrStartupParam=-p web/objects/web-disp.p -weblogerror
    wsRoot=/webspeed31D

[UBroker.WS.wsbroker1]
    appserviceNameList=wsbroker1
    brokerLogFile=$WRKDIR/wsbroker1.broker.log
    controllingNameServer=NS1
    description=A sample WebSpeed Transaction Server
    environment=wsbroker1
    groupName=
    portNumber=3055
    srvrLogFile=$WRKDIR/wsbroker1.server.log
    userName=
    uuid=932.99.000.ZZZ:1ee77e:cf3bbe04fd:-8000

[WebSpeed]
    Components=1110100
    infoVersion=9010
    RootPath=0
    ScriptPath=0

[WebSpeed.Messengers]
    AllowMsngrCmds=0
    controllingNameServer=NS1
    Host=localhost
    logAppend=1
    logEntries=0
    logFile=$WRKDIR/msgr.log
    loggingLevel=1
    logThreshold=0
    maxNSClientPort=0
    minNSClientPort=0
    nsClientPortRetry=4
    nsClientPortRetryInterval=250
    Port=3055
    registerNameServer=1
    useConnID=0
    workDir=$WRKDIR
    wsmAdmIPList=

[WebSpeed.Messengers.CGIIP]
    msngrExecFile=$DLC/bin/cgiip
    msngrScriptFile=$DLC/bin/wspd_cgi.sh

[WebSpeed.Messengers.WSASP]
    msngrExecFile=

[WebSpeed.Messengers.WSISA]
    msngrExecFile=

[WebSpeed.Messengers.WSNSA]
    msngrExecFile=$DLC/bin/wsnsa.dll

[WSA]
    adminAuth=1
    adminEnabled=1
    adminRoles=PSCAdmin,PSCOper
    adminSoapAction=urn:services-progress-com:wsa-admin:01
    appAuth=0
    appProtocol=0
    debugClients=
    enableWsdl=1
    enableWsdlListings=1
    httpErrorPage=httperror.html
    location=local
    logAppend=1
    logEntries=4294967295
    logFile=/var/dlcwork-9.1d/wsa.log
    loggingLevel=2
    logMsgThreshold=-1
    logThreshold=0
    noWsdlPage=
    proxyHost=
    proxyPassword=
    proxyPort=0
    proxyUsername=
    webAppEnabled=0
    webServerAuth=0
    workDir=$WRKDIR
    wsaUrl=
    wsdlAuth=0
    wsdlListingPage=WSDLListing.html

[WSA.wsa1]
    location=local
    logFile=/var/dlcwork-9.1d/wsa1.wsa.log
    loggingLevel=2
