/.sonar/
/.sonarlint/
/.settings/org.sonarlint.eclipse.core.prefs
/build/
/dist/
/doc/
/testbox/
/test-output/
/classDocTemp/
/profiler/
.builder/
pom.xml.asc
src/java/com/phenix/pct/PCT.properties
*.r
target/
profile.json
