<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<HTML>
    <HEAD>
        <meta http-equiv="expires" content="86400">
        <TITLE>@PAGETITLE@</TITLE>
        <link rel="stylesheet" type="text/css" href="resources/stylesheet.css" title="Style">
        <SCRIPT src="resources/jquery.js"></SCRIPT>
        <SCRIPT src="resources/functions.js"></SCRIPT>
    </HEAD>
	<BODY onload="onLoad()">
    	<table border="0">
        	<tbody>
				<tr>
            		<td>
                		<p>Search: <input id="treesearch" type="text" size="30" maxlength="100"></p>
            		</td>
            		<td align="center" valign="middle">
                		<div id="treesearchclear" class="tree_search_clear"></div>
            		</td>
            	</tr>
    		</tbody>
		</table>
		@CONTENT@
	</BODY>
</HTML>
