<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<HTML>
    <HEAD>
        <meta http-equiv="expires" content="86400">
        <TITLE>@PAGETITLE@</TITLE>
        <link rel="stylesheet" type="text/css" href="resources/stylesheet.css" title="Style">
        <SCRIPT src="resources/jquery.js"></SCRIPT>
        <SCRIPT src="resources/functions.js"></SCRIPT>
        <SCRIPT src="resources/frameload.js"></SCRIPT>
        <!-- Browser Switch -->
        <!--[if lt IE 8]>
            <!-- Smaller than IE 8 -->
            <style type="text/css">
                .HeightFixIE { 
                    height: 23px !important;
                }
            </style>
        <![endif]-->
        <!--[if IE 8]>
            <!-- Equal IE 8 -->
            <style type="text/css">
                .HeightFixIE { 
                    height: 20px !important;
                }
            </style>
        <![endif]-->
    </HEAD>
<BODY onload="onLoad()">
    <table class="header_table">
        <tbody>
        <tr>
            <td>
            	<div class="unit_header">
            	    <table border="0">
            	       <tbody>
                	        <tr>
                	            <td>
                	                <span class="span_namespace">Namespace:</span>   
                	            </td>
                	            <td>
                	                <span class="span_packagename"><a href="@PACKAGENAME@.package.html">@PACKAGENAME@<a></span>
                	            </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="span_pagetype">@PAGETYPE@&nbsp;</span>
                                </td>
                                <td>
                                    <table>
                                        <tr>
                                            <td>
                                                <span class="span_classname">@CLASSNAME@</span>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="span_parentclass">Parent classes:</span>   
                                </td>
                                <td class="span_parentclass">
                                    @PARENTCLASSES@
                                </td>
                            </tr>
                            @INHERITSTAGOPEN@
                            <tr>
                                <td>
                                    <span class="span_inherits">Inherits:</span>
                                </td>
                                <td class="unit_inherits">
                                    <span class="span_inherits">@INHERITS@</span>
                                </td>
                            </tr>
                            @INHERITSTAGCLOSE@
                            @INTERFACECOMMENTTAGOPEN@
                            <tr>
                                <td>
                                    <span class="span_implements">Implements:</span> 
                                </td>
                                <td class="unit_interface">
                                    <span class="span_implements">@INTERFACELINKS@</span> 
                                </td>
                            </tr>
                            @INTERFACECOMMENTTAGCLOSE@
                            <tr>
                                <td>
                                    <span class="span_inherits">@UNITFINAL@</span>
                                </td>
                                <td>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="span_inherits">@UNITABSTRACT@</span>
                                </td>
                                <td>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                	<br>
                	<span class="unit_comment">
                	@UNITHEADER@
                	</span>
                	<br>
                </div>
            </td>
            <td>
                <div class="container_logo_google">
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <br>
    @METHODCOMMENTTAGOPEN@
    <br>
    <br>
    <div class="TableHeadingColor">
        <span id="method_summary" class="expand_arrow expandButtonShow HeightFixIE">
        </span>
        <span>
            <font size="+2">
                <b>Method Summary</b>
            </font>
        </span>
    </div>
    <table border="0" class="table_content table_content_summary method_summary">
        <tbody>
            <tr class="TableSubHeadingColor">
                <th align="left"></th>
                <th align="left">Options</th>
                <th align="left">Name</th>
                <th align="left">Purpose</th>
            </tr>
            @OVERVIEWMETHODS@    
        </tbody>
    </table>
    @METHODCOMMENTTAGCLOSE@
    @CONSTRUCTORCOMMENTTAGOPEN@
    <br>
    <div class="TableHeadingColor">
        <span id="constructor_summary" class="expand_arrow expandButtonShow HeightFixIE">
        </span>
        <span>
            <font size="+2">
                <b>Constructor Summary</b>
            </font>
        </span>
    </div>
    <table border="0" class="table_content table_content_summary constructor_summary">
        <tbody>
            <tr class="TableSubHeadingColor">
                <th align="left"></th>
                <th align="left">Options</th>
                <th align="left">Name</th>
                <th align="left">Purpose</th>
            </tr>
            @OVERVIEWCONSTRUCTORS@    
        </tbody>
    </table>
    @CONSTRUCTORCOMMENTTAGCLOSE@
    @EVENTCOMMENTTAGOPEN@
    <br>
    <div class="TableHeadingColor">
        <span id="event_summary" class="expand_arrow expandButtonShow HeightFixIE">
        </span>
        <span>
            <font size="+2">
                <b>Event Summary</b>
            </font>
        </span>
    </div>
    <table border="0" class="table_content table_content_summary event_summary">
        <tbody>
            <tr class="TableSubHeadingColor">
                <th align="left"></th>
                <th align="left">Options</th>
                <th align="left">Name</th>
                <th align="left">Purpose</th>
            </tr>
            @OVERVIEWEVENTS@    
        </tbody>
    </table>
    @EVENTCOMMENTTAGCLOSE@
    @PROPERTYCOMMENTTAGOPEN@
    <br>
    <div class="TableHeadingColor">
        <span id="property_summary" class="expand_arrow expandButtonShow HeightFixIE">
        </span>
        <span>
            <font size="+2">
                <b>Property Summary</b>
            </font>
        </span>
    </div>
    <table border="0" class="table_content table_content_summary property_summary">
        <tbody>
            <tr class="TableSubHeadingColor">
                <th align="left"></th>
                <th align="left">Options</th>
                <th align="left">Name</th>
                <th align="left">Purpose</th>
            </tr>
            @OVERVIEWPROPERTIES@    
        </tbody>
    </table>
    @PROPERTYCOMMENTTAGCLOSE@
    <br>
    <br>
    @DETAILMETHODCOMMENTTAGOPEN@
    <div class="TableHeadingColor cell">
        <span id="method_detail" class="expand_arrow expandButtonShow HeightFixIE">
        </span>
        <span>
            <font size="+2">
                <b>Method Detail</b>
            </font>
        </span>
    </div>
    <table border="0" class="table_content table_content_details method_detail">
        <tbody>
            @DETAILMETHODS@
        </tbody>
    </table>
    <br>
    <br>
    @DETAILMETHODCOMMENTTAGCLOSE@
    @DETAILCONSTRUCTORCOMMENTTAGOPEN@
    <div class="TableHeadingColor cell">
        <span id="constructor_detail" class="expand_arrow expandButtonShow HeightFixIE">
        </span>
        <span>
            <font size="+2">
                <b>Constructor Detail</b>
            </font>
        </span>
    </div>
    <table border="0" class="table_content table_content_details constructor_detail">
        <tbody>
            @DETAILCONSTRUCTORS@
        </tbody>
    </table>
    <br>
    <br>
    @DETAILCONSTRUCTORCOMMENTTAGCLOSE@
    @DETAILEVENTCOMMENTTAGOPEN@
    <div class="TableHeadingColor cell">
        <span id="event_detail" class="expand_arrow expandButtonShow HeightFixIE">
        </span>
        <span>
            <font size="+2">
                <b>Event Detail</b>
            </font>
        </span>
    </div>
    <table border="0" class="table_content table_content_details event_detail">
        <tbody>
            @DETAILEVENTS@
        </tbody>
    </table>
    <br>
    <br>
    @DETAILEVENTCOMMENTTAGCLOSE@
    @DETAILPROPERTYCOMMENTTAGOPEN@
    <div class="TableHeadingColor cell">
        <span id="property_detail" class="expand_arrow table_content_details expandButtonShow HeightFixIE">
        </span>
        <span>
            <font size="+2">
                <b>Property Detail</b>
            </font>
        </span>
    </div>
    <table border="0" class="table_content property_detail">
        <tbody>
            @DETAILPROPERTIES@
        </tbody>
    </table>
    <br>
    <br>
    @DETAILPROPERTYCOMMENTTAGCLOSE@
    <font class="footer_timestamp">@TIMESTAMP@</font>
    </BODY>
</HTML>
