<tr>
    <td class="document_detail_parameter">
        <i><b>@PARAMETERNAME@</b></i>
    </td>
    <td>
      @PARAMETERFULLDATATYPE@
    </td>
    <td>
    </td>
</tr>
<tr>
    <td class="document_detail_parameter">
    </td>
    <td>
        @PARAMETERCOMMENT@
    </td>
</tr>