<tr class="table_content overview_row">
  <td align="left" valign="top" class="img_col cell cellleft @STATIC@">
  </td>
  <td align="left" valign="top" class="option_col cell">
    <font>@SHORTMODIFIER@</font>
    <font>@SHORTABSTRACT@</font>
    <font>@SHORTFINAL@</font>
  </td>
  <td class="signature_col cell">
    <font>
        @SHORTSIGNATUREWITHOUTRETURNLINK@
    </font>
  </td>
  <td class="cell">
     @PURPOSE@ <br> <i> @INHERITANCE@ </i>
  </td>
</tr>
