body {
    background: url(back.png) repeat #000000;
    color: #ffffff;
}
pre {
    background-color: #cccccc;
    padding: 5px;
}

pre#deprecated {
    background-color: #99ccff;
	text-decoration: line-through;
}
div {
    background: white;
    color: black;
}

div.Main {
    background: #ffffff;
    border: 2px #000000 solid;
    width: 99%;
}

div.Bandeau {
    background: #7777bb;
    border-bottom: 2px #000000 solid;
    width: 100%;
    font-weight: bold;
    text-align: center;
    font-size: 140%;
    padding-top: 3px;
    padding-bottom: 3px;
    color: black;
    margin-bottom: 0px;
}

div.Menu {
    margin-top: 0px;
    background: #cccccc;
    border-bottom: 2px #000000 solid;
    padding-top: 3px;
    padding-bottom: 3px;
    width: 100%;
    font-weight: bold;
    text-align: center;
    color: #336699;
}

div.Menu a {
    color: #7777bb;
    text-decoration: none;
}

div.Menu span.selected {
    color: #ff8c55;
}
div.Menu a:hover {
    background: #eeeeee;
    text-decoration: none;
}

div.Menu2 {
    border-left: 2px black solid;
    border-bottom: 2px black solid;
    background: #cccccc;
    float: right;
    padding: 3px;
}

div.Menu2 h1 {
    font-size: 120%;
}

div.Menu2 a {
    font-weight: bold;
    color: #7777bb;
    text-decoration: none;
}

div.Menu2 a:hover {
    font-weight: bold;
    background: #eeeeee;
    text-decoration: none;
}
div.LastUpdate {
    width: 100%;
    font-size: 80%;
    border-top: 2px black solid;
    margin-top: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    background: #cccccc;
    color: #000000;
    text-align: right;
}

div.Text {
    color: black;
    padding: 5px;
}

div.Text a {
    color: black;
    text-decoration: underline;
}

div.Text a:hover {
    color: #ff8c55;
    text-decoration: underline;
}

div.Text h1 {
    color: #336699;
    font-size: 140%;
}

div.Text h2 {
    color: #336699;
    font-size: 120%;
}

div.Text table.params {
    border: 1px #000000 solid;
}

div.Text table.params tr {
    padding: 0px;
    border-left: 1px black solid;
    border-right: 1px black solid;
}

div.Text table.params th {
    background: #cccccc;
    border-bottom: 1px black solid;	
}

div.Text table.params td {
    background: #dddddd;
}

span#sflogo {
    float: right;
}

img#sflogoimg {
    border: 0px;
}

pre.source {
	background: #aaaaaa;
}

pre.output {
	color: darkblue;
}

tt.ln {
	color: green;
	font-weight: 700;
}