<tr>
    <td style="border:solid 1px gray; width:10px">
        @SHORTMODIFIER@
    </td>
    <td style="border:solid 1px gray; width:30%">
        <a href="@GUID@">@SHORTSIGNATURE@</a>
    </td>
    <td style="border:solid 1px gray;">
        @PURPOSE@
    </td>
</tr>