<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="description" content="ABLDuck Documentation for {subtitle}." >
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="canonical" href="{canonical}" />
  <link rel="stylesheet" href="resources/css/app.css" type="text/css" />
  <link rel="stylesheet" href="styles.css" type="text/css" />
  <style type="text/css">
  .description .short { display: none !important }
  .description .long { display: block !important }
  </style>
  <title>{subtitle} - {title}</title>
</head>
<body style="background: #fff; min-width: 0;">
  <div id="north-region" style="padding: 1px 0 11px 11px">
    <div id="header-content"><strong>Documentation</strong> {title}</div>
  </div>
  <div id="center-container" class="class-overview" style="padding: 20px">
    <div class="x-panel-body">
      <article>
        {body}
      </article>
    </div>
  </div>

  <script type="text/javascript" src="resources/prettify/run_prettify.js?skin=openedge&amp;lang=openedge"></script>
  <script>
  (function(PR){
      // Add .prettyprint class to all (pre > code) blocks
      var els = document.body.getElementsByTagName("pre");
      for (var i=0, len=els.length; i<len; i++) {
          var pre = els[i];

          if (pre.getElementsByTagName("code").length > 0) {
              pre.className += " prettyprint";
          }
      }

      PR.prettyPrint();
  })(PR);
  </script>

  <script type="text/javascript">
  (function(){
    var protocol = (document.location.protocol === "https:") ? "https:" : "http:";
    document.write("<link href='"+protocol+"//fonts.googleapis.com/css?family=Exo' rel='stylesheet' type='text/css' />");
  })();
  </script>
</body>
</html>
